.md-social-btn .mbsc-ic {
    float: left;
}
.md-content-scroll .mbsc-fr-c {
    height: 400px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.md-content-scroll .mbsc-popup {
    filter: blur(8px);
}
/* grid */

.md-bottom-grid.mbsc-ms-c {
    border: 0;
}
.md-vertical-list.mbsc-ios .mbsc-fr-arr {
    background: #fff;
}

.md-vertical-list.mbsc-ios-dark .mbsc-fr-arr {
    background: #0f0f0f;
}

.md-no-border-grid.mbsc-ms-c {
    border: 0;
}
/* Needed for the time picker, because we removed the mbsc-fr-inline class below */

.md-advanced-popup .mbsc-fr,
.md-advanced-popup .mbsc-fr .mbsc-fr-popup {
    position: static;
    border: 0;
    pointer-events: auto;
    box-shadow: none;
}

/* Theme overrides */

.md-advanced-popup.mbsc-ios .mbsc-segmented,
.md-advanced-popup.mbsc-ios .mbsc-segmented-content {
    background: #d1d5db;
}

.md-advanced-popup.mbsc-ios-dark .mbsc-segmented,
.md-advanced-popup.mbsc-ios-dark .mbsc-segmented-content {
    background: #080808;
}

.md-advanced-popup.mbsc-windows .mbsc-segmented,
.md-advanced-popup.mbsc-windows .mbsc-segmented-content {
    background: #f2f2f2;
}

.md-advanced-popup.mbsc-windows-dark .mbsc-segmented,
.md-advanced-popup.mbsc-windows-dark .mbsc-segmented-content {
    background: #1a1a1a;
}